
body{
    margin: 0;
    padding: 0;
}

#dashboard{
   display: flex;
   flex-direction: row;
       
}

#adminLeftMenu{
    background-color:rgb(35, 38, 38);
    padding-top: 50px;
    width: 15%;
    /* align-items: center; */
    

}
#adminLeftMenu ul li a {
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 30px;
    list-style-type:none ;
    

}

#adminRightData{
    padding: 20px;
    margin-left: 300px;
}