
body{
    margin: 0;
    padding: 0;
}

#empdashboard{
   display: flex;
   flex-direction: row;
       
}

#empLeftMenu{
    background-color:rgb(35, 38, 38);
    padding-top: 50px;
    width: 15%;
    /* align-items: center; */
    

}
#empLeftMenu ul li a {
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 30px;
    list-style-type:none ;
    

}

#empRightData{
    padding: 20px;
    margin-left: 100px;
}