 Footer Styling
.bg-dark {
   background-color: #3e4246 !important; /*Dark background */
}

.text-white {
  color: white !important;
}

.footer-container {
  padding: 20px;
  text-align: center;
} */

/* Social Media Icons*/
.footer-container section .m-1 {
  transition: transform 0.3s ease-in-out;
}

.footer-container section .m-1:hover {
  transform: scale(1.2); /* Slightly increase size on hover */
 } 

/* Footer Bottom Section */
 .footer-bottom {
  background-color: #098196;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-bottom a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer-bottom a:hover {
  text-decoration: underline;
} 

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    padding: 15px;
  }

  .footer-bottom {
    height: auto;
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .footer-container {
    padding: 10px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}


/*---------------------------------- */
/* Centering the form on all devices */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  /* margin: auto; */
  padding: 0;
}

/* Login container styling */
.login-container {
  width: 50%;
  max-width: 200px;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  
}

/* Input and select field styling */
input, select {
  width: 40%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Button styling */
button {
  width: 40%;
  padding: 12px;
  background: #098196;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #0056b3;
}

/* Responsive Design */
@media (max-width: 500px) {
  .login-container {
      max-width: 90%;
      padding: 15px;
  }
}


